<h2>Todo</h2>
<!-- Todos input -->
<form role="form" (ngSubmit)="addTodo()">
  <div class="input-group">
    <input type="text" [(ngModel)]="item" placeholder="What needs to be done?" class="form-control">
    <span class="input-group-btn">
      <input type="submit" class="btn btn-primary" value="Add" name="add">
    </span>
  </div>
</form>
<hr>
<!-- Todos list -->
<div>
  <p class="input-group" *ngFor="#data of todoList; #idx = index">
    <input type="text" [value]="data" class="form-control">
    <span class="input-group-btn">
      <button class="btn btn-danger" (click)="removeTodo(idx)" aria-label="Remove">X</button>
    </span>
  </p>
</div>